// Custom styles
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: url("/assets/img/background.png");
  html[data-theme='dark'] & {
    background: none;
    background-color: var(--global-bg-color);
  }
}

p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
  font-family: 'Vazirmatn', 'Open Sans', 'Adobe Clean' !important;
}

code, code span, pre code span {
  font-family: monospace !important;
}

h2 {
  font-size: 1.5rem;
}

.post .header-bar {
  h1 {
    font-family: 'Mynerve', cursive !important;
    font-size: 3.5rem;
    text-align: center;  // To override the dir="auto" text-align: initial;
  };
  h2 div#blog_desc{
    font-size: 1.25rem;
    text-align: center;  // To override the dir="auto" text-align: initial;
    color: gray;
    a {
      color: rgb(99, 195, 228);
      text-decoration: underline;
    }
  }
}

.post .header-bar h2 {
  font-size: 1.5rem;
}

abbr.badge {
  border-radius: 5px;
}

div.abbr {
  display: none;
}

div.links {
  display: inline;
}

div.post > article {
  padding: 20px;
  border: solid 1px lightgray;
  border-radius: 7px;
  background-color: white;
  html[data-theme='dark'] & {
    background-color: var(--global-bg-color);
  }
}

div.boxed {
  padding: 10px 20px 20px 20px;
  border: solid 1px lightgray;
  border-radius: 7px;
  background-color: white;
  html[data-theme='dark'] & {
    background-color: var(--global-bg-color);
  }
  margin-top: 20px;
}

div.title {
  color: rgb(0, 47, 255);
  html[data-theme='dark'] & {
    color: rgb(0, 147, 170);
  }
}

.social .contact-icons {
  font-size: 3rem !important;
}

a.btn.btn-sm.z-depth-0 {
  // border-radius: 10px         !important;
  border: none                !important;
  padding: 0 0.3rem 0 0.3rem  !important;
  font-size: 1.2rem;
}

br.hidden{
  line-height: 0.5em; 
}
br.hidden2{
  line-height: 1em; 
}
hr.hidden{
  height:1rem; visibility:hidden;
  margin-top: 0rem;
  margin-bottom:0rem;
}
hr.bold{
  border-top: 2px solid;
  opacity: 0.2;
}

span.skill_btn{
  -webkit-text-size-adjust: 100%;
  font-size: 0.8rem;
  font-feature-settings: normal;
  tab-size: 4;
  font-family: Lato,Arial,Helvetica,sans-serif;
  line-height: inherit;
  --tw-bg-opacity: 1;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(255 73 92/var(--tw-border-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  margin-left: 1rem;
}

// Underline my name in publications
.publications ol.bibliography li .author > em {
  border-bottom: none !important;
  text-decoration: underline;
  text-underline-offset: 4px;
}

// Remove the <br> + date in selected publications
// "h2 + ..." selects the first element after h2 not to affect the publications page
h2 + .publications h2.bibliography {
  display: none;
}

div.publications {
  margin-top: 1rem;
}

div.periodical {
  // display: inline;
  padding-right: 2px;
}

div.address {
  font-family: monospace !important;
  font-size: 0.85rem  !important;
}

table.table.publications td {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.news table th {
  font-size: 1rem !important;
  width: 105px;
}

.publications div.badges {
  height: 10px;
}

.publications ol.bibliography li {
  margin-bottom: 0rem !important;
}

.publications h2.year {
  margin-top: 0rem !important;
}

div.header-bar {
  padding-top: 0;
  padding-bottom: 1rem;
}

ul.post-list {
  margin-top: 2rem;
}

ul.post-list > li {
  padding-top: 1rem;
  padding-bottom: 0;
}

ul.post-list > li > h3 + p {
  display: none;
}

a[href="/news/"], a[href="/publications/"], a[href="/blog/"], a.nav-link {
  text-transform: capitalize;
}

.tag-category-list {
  margin-bottom: 1rem;
  ul {
    p, li {
      padding: 0rem 0.1rem;
    }
  }
}

div.tag-category-list > ul > li + p {
  margin-bottom: 0.2rem;
  // background-color: red;
  // display: none;
}

div.post div.tag-category-list {
  padding-top: 0.2rem;
}

// This is needed for dir="auto" to work, otherwise will be rendered as LTR
h1, h2, h3, p {
  text-align: initial;
}

article h2 {
  padding-top: 5px;
}

div.abstract.hidden.open {
  border-radius: 5px;
}

table.table-sm th, table.table-sm td {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

// div.profile img {
//   border-radius: 50% !important;
// }

header.post-header > figure > picture > img {
  max-width: 105px;
  border-radius: 50% !important;
  float: left;
  margin-right: 20px;
}

table.table {
  margin-bottom: 0.25rem;
  th {
    padding-left: 0;
  }
}

span#former {
  color: gray
}

hr {
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}