---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                <!-- {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%} -->
                {%- assign profile_image_class = "img-fluid height:400 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true
              height='300px' -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

        <!-- Past Employers: -->
        {%- if page.Employers %}
          <hr class="bold"/>
          <hr class="hidden" />
            <h5> I have worked with these amazing folks: </h5>
            <hr class="hidden" />
          <div class="row h-75">
            <div class="col-sm ml-2 mr-2">
                {% include figure.html path="assets/img/BBDO.png" title="BBDO" class="img-fluid rounded z-depth-1" href="https://bbdoatl.com/" height="140px" %}
            </div>
            <div class="col-sm ml-2 mr-2">
              {% include figure.html path="assets/img/GoldmanSachs.png" title="GoldmanSachs" class="img-fluid rounded z-depth-1" href="https://www.goldmansachs.com/worldwide/india/careers/bengaluru-office/"  %}
            </div>
            <div class="col-sm ml-2 mr-2">
              {% include figure.html path="assets/img/LineData.jpg" title="Linedata" class="img-fluid rounded z-depth-1" href="https://www.linedata.com/"  %}
            </div>
            <div class="col-sm ml-2 mr-2">
              {% include figure.html path="assets/img/Delloite.webp" title="Deloitte" class="img-fluid rounded z-depth-1" href="https://www2.deloitte.com/in/en.html"  %}
            </div>
          </div>
        {%- endif %}
          
        <!-- Skills: -->
          {%- if page.skills %}
          <hr class="bold"/>
            <hr class="hidden" />
            <div class="links">
              <h5> Programming Languages: </h5>
              <hr class="hidden" />
              {%- for lang in page.languages -%}
                  <span class="skill_btn">{{ lang }}</span>
              {%- endfor %}
              <hr class="hidden" /> <hr class="hidden" />
              <h5> Machine Learning: </h5>              
              <hr class="hidden" />
                {%- for lang in page.ML -%}
                  <span class="skill_btn">{{ lang }}</span>
                {%- endfor %}
              <hr class="hidden" /> <hr class="hidden" />
              <h5> Visualizations: </h5>
              <hr class="hidden" />
                {%- for viz in page.Viz -%}
                  <span class="skill_btn">{{ viz }}</span>
                {%- endfor %}
              <hr class="hidden" /> 
            </div>
            <br>
            <hr class="bold"/>
          {%- endif %}
          

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>